
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <title>COVID19</title>
    <link rel="icon" href="/images/logo.png">
  </head>
  <body>
    <nav class="navbar navbar-expand-md bg navbar-dark fixed-top"> 
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#collapse_Navbar"> 
            <span class="navbar-toggler-icon"></span> 
        </button> 
          
        <a href="/home">
            <img src="images/nav_logo.png" class="logo">
        </a>
        <div class="collapse navbar-collapse" id="collapse_Navbar"> 
            <ul class="navbar-nav ml-auto">

                <li class="nav-item"> 
                    <a class="nav-link" href="/home" style="color: aliceblue; font-size: 20px; font-family: fantasy;">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/about" style="color: aliceblue; font-size: 20px; font-family: fantasy;">AboutUs!</a>
                </li>

                <li class="nav-item"> 
                    <a class="nav-link" href="/cases" style="color: aliceblue; font-size: 20px; font-family: fantasy;">Cases</a>
                </li> 
              
                <li class="nav-item dropdown"> 
                    <a class="nav-link dropdown-toggle" href="/courses" id="navbardrop" data-toggle="dropdown"  style="color: aliceblue; font-size: 20px; font-family: fantasy;">Clickhere!</a> 
                      
                    <div class="dropdown-menu"> 
                        <a class="dropdown-item" href="/precautions">PRECAUTIONS</a> 
                        <a class="dropdown-item" href="/symptoms">SYMTOMPS</a>
                    </div> 
                </li>
              
                <li class="nav-item">
                    <a class="nav-link" href="/country" style="color: aliceblue; font-size: 20px; font-family: fantasy;">Cases</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/register" style="color: aliceblue; font-size: 20px; font-family: fantasy;">Register</a>
                </li>
            </ul>
        </div> 
    </nav>s

    <div id="GFG" class="carousel slide" data-ride="carousel" data-interval="3000"> 
      
    <!-- Indicators -->
    <ul class="carousel-indicators"> 
        <li data-target="#GFG" data-slide-to="0" class="active"></li> 
        <li data-target="#GFG" data-slide-to="1"></li> 
        <li data-target="#GFG" data-slide-to="2"></li>
        <li data-target="#GFG" data-slide-to="3"></li>  
    </ul> 
      
    <!-- The slideshow -->
    <div class="carousel-inner"> 
        <div class="carousel-item active"> 
            <img src="images/b1.jpeg" alt="GFG" width="100%" height="400">    
        </div> 
          
        <div class="carousel-item"> 
            <img src= "images/b2.jpeg" alt="GFG" width="100%" height="400"> 
        </div> 
          
        <div class="carousel-item"> 
            <img src= "images/b3.jpeg" alt="GFG" width="100%" height="400"> 
        </div>

        <div class="carousel-item"> 
            <img src= "images/b4.jpeg" alt="GFG" width="100%" height="400">   
        </div>

        <div class="carousel-item"> 
            <img src= "images/b5.jpeg" alt="GFG" width="100%" height="400"> 
        </div> 
    </div> 
    </div>

    <div class="container">
        <h1>ABOUT COVID19</h1>
        <p>Coronaviruses are a group of related RNA viruses that cause diseases in mammals and birds. In humans, these viruses cause respiratory tract infections that can range from mild to lethal. Mild illnesses include some cases of the common cold (which is also caused by other viruses, predominantly rhinoviruses), while more lethal varieties can cause SARS, MERS, and COVID-19. Symptoms in other species vary: in chickens, they cause an upper respiratory tract disease, while in cows and pigs they cause diarrhea. There are as yet no vaccines or antiviral drugs to prevent or treat human coronavirus infections.

            Coronaviruses constitute the subfamily Orthocoronavirinae, in the family Coronaviridae, order Nidovirales, and realm Riboviria.[5][6] They are enveloped viruses with a positive-sense single-stranded RNA genome and a nucleocapsid of helical symmetry.The genome size of coronaviruses ranges from approximately 26 to 32 kilobases, one of the largest among RNA viruses.[8] They have characteristic club-shaped spikes that project from their surface, which in electron micrographs create an image reminiscent of the solar corona, from which their name derives.</p>
        
        <h2>ETYMOLOGY</h2>
        <p>The name "coronavirus" is derived from Latin corona, meaning "crown" or "wreath", itself a borrowing from Greek κορώνη korṓnē, "garland, wreath".The name was coined by June Almeida and David Tyrrell who first observed and studied human coronaviruses.The word was first used in print in 1968 by an informal group of virologists in the journal Nature to designate the new family of viruses.The name refers to the characteristic appearance of virions (the infective form of the virus) by electron microscopy, which have a fringe of large, bulbous surface projections creating an image reminiscent of the solar corona or halo.This morphology is created by the viral spike peplomers, which are proteins on the surface of the virus.</p>

        <h2>HISTORY</h2>
        <p>Coronaviruses were first discovered in the 1930s when an acute respiratory infection of domesticated chickens was shown to be caused by infectious bronchitis virus (IBV).[14] Arthur Schalk and M.C. Hawn described in 1931 a new respiratory infection of chickens in North Dakota. The infection of new-born chicks was characterized by gasping and listlessness. The chicks' mortality rate was 40–90%.[15] Fred Beaudette and Charles Hudson six years later successfully isolated and cultivated the infectious bronchitis virus which caused the disease.[16] In the 1940s, two more animal coronaviruses, mouse hepatitis virus (MHV) and transmissible gastroenteritis virus (TGEV), were isolated.[17] It was not realized at the time that these three different viruses were related</p>

        <h2>MICROBIOLOGY</h2>
        <p>Coronaviruses are large, roughly spherical, particles with bulbous surface projections.[41] The average diameter of the virus particles is around 125 nm (.125 μm). The diameter of the envelope is 85 nm and the spikes are 20 nm long. The envelope of the virus in electron micrographs appears as a distinct pair of electron-dense shells (shells that are relatively opaque to the electron beam used to scan the virus particle).</p>

        <h2>ORIGIN</h2>
        <p>The most recent common ancestor (MRCA) of all coronaviruses is estimated to have existed as recently as 8000 BCE, although some models place the common ancestor as far back as 55 million years or more, implying long term coevolution with bat and avian species.[63] The most recent common ancestor of the alphacoronavirus line has been placed at about 2400 BCE, of the betacoronavirus line at 3300 BCE, of the gammacoronavirus line at 2800 BCE, and of the deltacoronavirus line at about 3000 BCE. Bats and birds, as warm-blooded flying vertebrates, are an ideal natural reservoir for the coronavirus gene pool (with bats the reservoir for alphacoronaviruses and betacoronavirus – and birds the reservoir for gammacoronaviruses and deltacoronaviruses). The large number and global range of bat and avian species that host viruses has enabled extensive evolution and dissemination of coronaviruses.</p>

        <h2>INFECTIONS IN HUMAN</h2>
        <p>Coronaviruses vary significantly in risk factor. Some can kill more than 30% of those infected, such as MERS-CoV, and some are relatively harmless, such as the common cold.[43] Coronaviruses can cause colds with major symptoms, such as fever, and a sore throat from swollen adenoids.[81] Coronaviruses can cause pneumonia (either direct viral pneumonia or secondary bacterial pneumonia) and bronchitis (either direct viral bronchitis or secondary bacterial bronchitis).[82] The human coronavirus discovered in 2003, SARS-CoV, which causes severe acute respiratory syndrome (SARS), has a unique pathogenesis because it causes both upper and lower respiratory tract infections.</p>
    </div>
    <!-- Optional JavaScript -->
    <script type="text/javascript" src="script.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>